[default]
# mode: [dev] printf runtime log to console
mode=dev
email_send_limit=10
# mysql|sqlite|postgresql
database=sqlite
format=epub

[mysql]
name=ebook_sender_bot
host=localhost
port=3306
user=root
password=root

[sqlite]
name=database

[postgresql]
name=
host=
port=
user=
password=

[smtp]
host=smtp.gmail.com
port=465
username=your_email_address
password=your_email_account_password

[telegram]
# telegram bot token
bot_token=your_telegram_bot_token
# your telegram chat id
developer_chat_id=your_telegram_chat_id
